/* Beginning of my additions after normalization*/
h2, figure {
    text-align: center;
}

body {
    background-color:lavender;
}

section {
    background-color: #dddddd;
    border: 3px solid darkgreen
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

img {
    border: 2px solid black;
    max-width: 60%;
    max-height: 60%;
}

p {
    margin: 10px
}
