* {
    font-family: Geneva, Tahoma, sans-serif;
}

h1, h3 {
    text-decoration: underline;
}

h1, h3, figure, header {
    text-align: center;
}

body {
    background-color:rgb(241, 60, 229);
}

section {
    background-color: #dddddd;
    border: 3px solid darkgreen;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

img {
    border: 2px solid black;
    max-width: 60%;
    max-height: 60%;
}

p {
    font-size: 20px;
    margin: 10px
}

footer {
    text-align: right;
}

ul {
    list-style-type: none;
}

li {
    text-indent: -45px;
}

.main-title {
    font-size: 40px;
    color: blue;
}

